.row-wrapper {
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  background-color: #fff;
}

.row-wrapper__title-wrapper {
  display: flex;
  align-items: center;
  padding-right: 34px;
  padding-left: 34px;
  height: 70px;
  font-weight: 450;
  background-color: #f5f5f5;
  border-bottom: 2px solid #e5e5e5;
}

.row-wrapper__title-text {
  padding-left: 16px;
  font-size: 22px;
  color: #444444;
  border-left: 8px solid #009f49;
}
