.row {
  display: flex;
  align-items: center;
  padding: 3px;
  min-height: 192px;
}

.row__border:not(:last-child) {
  border-bottom: 2px solid #e5e5e5;
}

.row__img {
  flex: 0.3;
  object-fit: contain;
  width: 95px;
  height: 95px;
}

.row__middle {
  padding-right: 22px;
  padding-left: 22px;
  flex: 0.65;
}

.row__middle-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

@media (max-width: 530px) {
  .row__middle-first {
    /* a normal way to change the direction in mobile device */
    flex-direction: column;
    align-items: flex-start;
  }
}

.row__middle-first-left {
  font-size: 24px;
  color: #009b4a;
}

.row__middle-first-right {
  display: flex;
  justify-content: flex-start;
  max-width: 260px;
  font-size: 24px;
  color: #333333;
}

.row__middle-second {
  font-size: 24px;
  color: #333333;
  line-height: 40px;
}

.row__right {
  flex: 0.06;
}

.row__left--icon {
  cursor: pointer;
  color: #909090;
}

/* 0.25 0.65 0.1 */
